@import 'common/component/index';
@import '~antd/dist/antd.css';

.container {
  width: 1792px;
  height: 1041px;
  overflow: hidden;
  position: relative;
  background-color: blue($color: #000000);
  background-size: cover;
}

.bookmarkcard {
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px);
  grid-template-rows: repeat(auto-fill, 80px);
}
