.cf-todo-warp {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
}

.cf-todo-list {
  margin-left: 5px;
}

.cf-add-todo-submit {
  position: absolute;
  bottom: 0;
}

.cf-todo-delete-item {
  margin-right: 0;

  padding: 0;
}
